BeautifulSoup==3.2.1
Cheetah==2.4.4
CherryPy==3.2.2
Flask==0.12.2
Jinja2==2.7.2
Mako==0.9.1
Markdown==2.4
MarkupSafe==0.18
Pillow==2.3.0
Routes==2.0  
Werkzeug==0.12.2
adium-theme-ubuntu==0.3.4
apsw==3.8.2-r1
apt-xapian-index==0.45
apturl==0.4.1ubuntu4
argparse==1.2.1
astroid==1.0.1
autocomplete==0.0.104
bottle==0.12.13
cassandra-pylib==0.0.0
ccsm==0.9.11.3
chardet==2.0.1
click==6.7
colorama==0.2.5
command-not-found==0.3
compizconfig-python==0.9.11.3
configglue==1.1.2
configobj==4.7.2
cssselect==0.9.1
cssutils==0.9.10
debtagshw==0.1
decorator==3.4.0
defer==1.0.6
dirspec==13.10
dnspython==1.11.1
duplicity==0.6.23
f.lux-indicator-applet==1.1.8
feedparser==5.1.3
gevent==1.1.1
glipper==2.4
google-api-python-client==1.6.2
greenlet==0.4.12
gspread==0.6.2
gyp==0.1
html5lib==0.999
httplib2==0.8
ipython==1.2.1
itsdangerous==0.24
lockfile==0.8
locustio==0.7.5
logilab-common==0.61.0
lxml==3.3.3
mechanize==0.2.5
mock==2.0.0
msgpack-python==0.4.8
nemo-emblems==0.0.1
netifaces==0.8
networkx==1.11
numpy==1.8.2
oauth2client==4.0.0
oauthlib==0.6.1
oneconf==0.3.7.14.04.1
pandas==0.19.2
paramiko==1.10.1
pexpect==3.1
pip-save==0.2.0
piston-mini-client==0.7.5
protobuf==2.5.0
pyOpenSSL==0.13
pyasn1==0.2.3
pyasn1-modules==0.0.8
pycrypto==2.6.1
pycups==1.9.66
pycurl==7.19.3
pygobject==3.12.0
pyinotify==0.9.4
pylint==1.1.0
pyparsing==2.0.1
pyserial==2.6
pysmbc==1.0.14.1
python-apt==0.9.3.5ubuntu2
python-dateutil==1.5
python-debian==0.1.21-nmu2ubuntu2
python-louvain==0.6
pytz==2016.10
pyxdg==0.25
pyzmq==14.0.1
reportlab==3.0
repoze.lru==0.6
requests==2.2.1
rsa==3.4.2
scikit-learn==0.18.1
scipy==0.18.1
sessioninstaller==0.0.0
simplegeneric==0.8.1
simplejson==3.10.0
six==1.5.2
software-center-aptd-plugins==0.0.0
system-service==0.1.6
tensorflow==0.11.0rc0
tornado==3.1.1
uTidylib==0.2
uritemplate==3.0.0
urllib3==1.7.1
vboxapi==1.0
virtualenv==1.11.4
wheel==0.29.0
wit==4.2.0
wsgiref==0.1.2
wxPython==2.8.12.1
wxPython-common==2.8.12.1
xdiagnose==3.6.3build2
zope.interface==4.0.5